<VirtualHost *:80>

    {% if apache_lb_server_name | default('') != '' %}
    ServerName {{ apache_lb_server_name }}
    ServerAlias www.{{ apache_lb_server_name }}
    {% else %}
    ServerName _
    {% endif %}

    ServerAdmin webmaster@localhost
    DocumentRoot /var/www/html

    # Load Balancer Configuration
    <Proxy "balancer://mycluster">
        {% for host in groups['web_servers'] | map('extract', hostvars) | list %}
        BalancerMember http://{{ host.backend_name | default(host.ansible_host, true) | default(host.inventory_hostname, true) }}:80 loadfactor=5 timeout=1
        {% endfor %}
        ProxySet lbmethod=bytraffic stickysession=PHPSESSID
    </Proxy>

    ProxyPreserveHost On
    ProxyPass / balancer://mycluster/
    ProxyPassReverse / balancer://mycluster/

    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
